 img {
     border-radius: 50%;
     border: 10px solid black;
     margin-left: auto;
     margin-right: auto;
     display: block;
     max-width: 100%;
 }
 
 p {
     font-family: 'Playfair Display', serif;
     font-size: 20px;
     padding: 30px;
     text-align: center;
 }
 
 p:hover {
     font-size: 22px;
     text-shadow: 3px 3px 10 lightsteelblue;
     transition: font-size 1s, text-shadow 1s;
 }
 
 h1 {
     font-size: 24px;
     text-align: center;
     color: silver;
     padding: 10px;
     font-family: 'Cinzel', serif;
 }
 
 header {
     background-color: black;
     margin-bottom: 20px;
 }
 
 .bio {
     width: 80%;
     height: 100%;
     margin: auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
 }
 
 .birth-pic-death {
     width: 100%;
     height: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;
 }
 
 .date {
     width: 400px;
     line-height: 2em;
     margin: 20px;
     border: 1px solid black;
     display: flex;
     justify-content: center;
 }
 
 .datatype,
 .data {
     display: inline-block;
 }
 
 .datatype {
     font-family: 'Cinzel', serif;
     text-align: right;
     font-size: 22px;
     font-weight: 900;
 }
 
 .data {
     font-family: 'Playfair Display', serif;
     font-size: 20px;
     margin-left: 20px;
 }
 
 .img {
    margin: 30px;
 }

 @media screen and (max-width: 1650px) {
     #birth {
         order: 1;
     }
     #death {
         order: 2;
     }
     .img {
         width: 80%;
         margin: 30px;
     }
 }


