

.bio {
    width: 1500px;
    height: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
}

img {
    border-radius: 50%;
    top: 150px;
    left: 450px;
    position: absolute;
    top: 150px;
    left: 630px;    
    z-index: -1;
    border: 10px solid black;
    
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: color;   
    padding: 30px;
}

p:hover {
    color: black;
    font-weight: 900;
    background-color: silver;
    border-radius: 10px;
    box-shadow:  3px 3px 10px black;
    opacity: 0.75;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: silver;
    padding-top: 10px;
}

header{ 
    background-color: black;
    height: 50px;
}



